.post {
  width: 100%;
  min-height: 100px;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  margin-top: 13px;
  padding: 16px;
  overflow: hidden;
  background-color: #fff;

  span {
    color: #a8996f;
  }
}
