.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 564px;
  margin: 50px auto;
  margin-bottom: 80px;
  padding: 24px 31px;
  background-color: rgb(250, 250, 250);
  border: 1px solid #eeeeee;
  border-radius: 6px;
}
.header {
  position: relative;
  height: 24px;
  margin-bottom: 22px;
  width: 100%;

  h2 {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .icon {
    left: 0;
    width: 18px;
  }
  .close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #eeeeee;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #dddddd;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }
}

.publishBtn {
  position: absolute;
  bottom: 32px;
  right: 32px;
  display: block;
  height: 32px;
  width: 120px;
  border: none;
  border-radius: 6px;

  background-color: #96459a;
  color: #ffffff;
  font-weight: 600;

  transition: 0.4s;
}

.publishBtn:hover {
  background-color: #ae3cb4;
  box-shadow: 0 0 4px rgb(165, 165, 165);
}

.group {
  display: flex;
  flex-direction: column;
}

.customSelect {
  width: 183px;
  height: 32px;
  margin-top: 8px;
  border-radius: 6px;
}
